<%- include("./partials/header.ejs") %>

<div class="container">
<div class="intro">
<h1>organize and monitor your daily task</h1>
<p>
time management is a skill which makes every task to be achieved on time. 
enables to grab your dream, your goals. so, come with us and manage all the task to be done!!
</p>


<p id="register"><a  href="/todo/register">register</a></p>

</div>
</div>



</body>
<%- include("./partials/footer.ejs") %>